Question 1
What's the version of Pandas that you installed?

In [64]:
import numpy as np
import pandas as pd

pd.__version__

'2.1.4'

Question 2
How many columns are in the dataset? (https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv)

In [7]:
df = pd.read_csv('../housing.csv')
len(df.columns)

10

Question 3
Which columns in the dataset have missing values?

In [16]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

Question 4
How many unique values does the ocean_proximity column have?

In [19]:
df.ocean_proximity.nunique()

5

Question 5
What's the average value of the median_house_value for the houses located near the bay?

In [23]:
df.groupby('ocean_proximity').median_house_value.describe()

,count,mean,std,min,25%,50%,75%,max
ocean_proximity,,,,,,,,
<1H OCEAN,9136.0,240084.285464,106124.292213,17500.0,164100.0,214850.0,289100.0,500001.0
INLAND,6551.0,124805.392001,70007.908494,14999.0,77500.0,108500.0,148950.0,500001.0
ISLAND,5.0,380440.000000,80559.561816,287500.0,300000.0,414700.0,450000.0,450000.0
NEAR BAY,2290.0,259212.311790,122818.537064,22500.0,162500.0,233800.0,345700.0,500001.0
NEAR OCEAN,2658.0,249433.977427,122477.145927,22500.0,150000.0,229450.0,322750.0,500001.0

Question 6
Calculate the average of total_bedrooms column in the dataset.
Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.
Now, calculate the average of total_bedrooms again.
Has it changed?

In [33]:
print(df.total_bedrooms.mean())
df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean()

537.8705525375618

537.8705525375617

Question 7
Select all the options located on islands.
Select only columns housing_median_age, total_rooms, total_bedrooms.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [950, 1300, 800, 1000, 1300].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the last element of w?

In [74]:
x = df.loc[df.ocean_proximity == 'ISLAND', ['housing_median_age', 'total_rooms', 'total_bedrooms']].values
XTX = x.T.dot(x)
XTX_inverse = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])
w = XTX_inverse.dot(x.T).dot(y)
print(w[-1])

5.699229455065565